<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Healthyvibes_Core::extensions" title="Healthyvibes Extensions" translate="title" module="Healthyvibes_Core" resource="Healthyvibes_Core::healthyvibes_extensions" sortOrder="50"/>
   </menu>
</config>
