<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="healthyvibes_ghtk_plugin_magento_sales_block_adminhtml_order_view_info" type="Healthyvibes\Ghtk\Plugin\Magento\Sales\Block\Adminhtml\Order\View\Info" sortOrder="10" />
    </type>
</config>
