<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\DirectoryDataProcessor">
        <plugin name="healthyvibes_directory_city_options_setter"
                type="Healthyvibes\Directory\Plugin\Checkout\DirectoryDataProcessor" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="healthyvibes_directory_billing_address_city_add"
                type="Healthyvibes\Directory\Plugin\Checkout\BillingAddressLayoutProcessor" sortOrder="15"/>
        <plugin name="healthyvibes_directory_street"
                type="Healthyvibes\Directory\Plugin\Checkout\StreetProcessor" sortOrder="20"/>
    </type>
</config>
