<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Healthyvibes\IntegrationBase\Model\Service\Command\CommandPoolInterface" type="Healthyvibes\IntegrationBase\Model\Service\Command\CommandPool"/>
    <preference for="Healthyvibes\IntegrationBase\Model\Service\Validator\ResultInterface" type="Healthyvibes\IntegrationBase\Model\Service\Validator\Result"/>
    <type name="Healthyvibes\IntegrationBase\Model\Service\Http\Client\Zend">
        <arguments>
            <argument name="converter" xsi:type="object">Healthyvibes\IntegrationBase\Model\Service\Http\Converter\JsonToArray</argument>
        </arguments>
    </type>
    <virtualType name="Healthyvibes\IntegrationBase\Model\Logger\VirtualDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/healthyvibes_integration.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Healthyvibes\IntegrationBase\Model\Logger\VirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Healthyvibes\IntegrationBase\Model\Logger\VirtualDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Healthyvibes\IntegrationBase\Model\Logger\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">Healthyvibes\IntegrationBase\Model\Logger\VirtualLogger</argument>
        </arguments>
    </type>
</config>
